html{
  /* 禁止选择文本 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  /* 禁止文字自动调整大小*/
  -webkit-text-size-adjust: 100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
  margin: 0;
}
ul,ol{
  padding: 0;
  list-style: none;
}
img{
  border: none;
  vertical-align: top;
}
a{
  text-decoration: none;
}
img,a{
  /* 禁止长按页面弹出菜单 */
  -webkit-touch-callout: none;
}
input,button,select, textarea{
  box-sizing: border-box;
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -webkit-appearance: none;
  border-radius: 0;
}
a,input,button, textarea, img{
  /* 禁止IOS点击元素高亮 */
  -webkit-tap-highlight-color: transparent;
}
/*隐藏滚轮*/
::-webkit-scrollbar {
  display: none;
}
@mixin bg ($url) {
  background: url($url) no-repeat;
  background-size: 100% 100%;
}

@function PX ($px) {
  @return $px / 750 * 10 * 1rem;
}
html{
  /* 禁止选择文本 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  /* 禁止文字自动调整大小*/
  -webkit-text-size-adjust: 100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
  margin: 0;
}
ul,ol{
  padding: 0;
  list-style: none;
}
img{
  border: none;
  vertical-align: top;
}
a{
  text-decoration: none;
}
img,a{
  /* 禁止长按页面弹出菜单 */
  -webkit-touch-callout: none;
}
input,button,select, textarea{
  box-sizing: border-box;
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -webkit-appearance: none;
  border-radius: 0;
}
a,input,button, textarea{
  /* 禁止IOS点击元素高亮 */
  -webkit-tap-highlight-color: transparent;
}
/*隐藏滚轮*/
::-webkit-scrollbar {
  display: none;
}
// @font-face{
//   font-family: '华文行楷';
//   src: url('../fonts/STXINGKA.ttf');
// }
html, body {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  @include bg('../images/bg.jpg');
  .swiper-slide {
    position: relative;
  }
}

.container {
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: PX(750);
  height: PX(1220);
  // @include bg('../images/bg.jpg');
}

.loading {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: url('../images/loading.gif') no-repeat rgba(0, 0, 0, 0.5) center center;
  background-size: PX(124) PX(124);
}

.logo {
  position: absolute;
  left: PX(50);
  top: PX(70);
  z-index: 100;
  width: PX(203);
  height: PX(39);
  @include bg('../images/logo.png')
}
.hide {
  display: none;
}

.page1 {
  .container {
    @include bg('../images/page1_bg.jpg');
  }
  .title {
    position: absolute;
    top: PX(290);
    left: 50%;
    margin-left: PX(-354);
    width: PX(705);
    height: PX(407);
    @include bg('../images/page1_title.png')
  }
  .small-title {
    position: absolute;
    top: PX(730);
    left: 50%;
    margin-left: PX(-199);
    width: PX(397);
    height: PX(153);
    @include bg('../images/page1_small_title.png')
  }
}

.page2 {
  color: #fff;
  .title {
    position: absolute;
    top: PX(180);
    left: 50%;
    margin-left: PX(-137);
    width: PX(274);
    height: PX(36);
    @include bg('../images/page2_title.png');
  }
  .content {
    position: absolute;
    top: PX(280);
    left: 50%;
    margin-left: PX(-300);
    width: PX(600);
    height: PX(649);
    @include bg('../images/page2_content_new.png');
  }
  .content2 {
    position: absolute;
    top: PX(980);
    left: 50%;
    margin-left: PX(-305);
    width: PX(590);
    height: PX(89);
    @include bg('../images/page2_content2.png');
  }
}

.page3 {
  .title {
    position: absolute;
    top: PX(183);
    left: 50%;
    margin-left: PX(-277);
    width: PX(542);
    height: PX(81);
    @include bg('../images/page3_title.png')
  }
  .content {
    position: absolute;
    top: PX(310);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    .people {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: PX(130);
      margin-bottom: PX(50);
      .avatar {
        width: PX(126);
        height: PX(126);
        margin-right: PX(24);
      }
      .line {
        width: 4px;
        height: 100%;
        margin-right: PX(24);
        background: #4e8fab;
      }
      .desc {
        height: PX(106);
      }
    }
  }
}

.page4 {
  .title {
    position: absolute;
    top: PX(183);
    left: 50%;
    margin-left: PX(-277);
    width: PX(554);
    height: PX(81);
    @include bg('../images/page3_title.png')
  }
  .content {
    position: absolute;
    top: PX(310);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    .people {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: PX(130);
      margin-bottom: PX(50);
      .avatar {
        width: PX(126);
        height: PX(126);
        margin-right: PX(24);
      }
      .line {
        width: 4px;
        height: 100%;
        margin-right: PX(24);
        background: #4e8fab;
      }
      .desc {
        height: PX(106);
      }
    }
  }
}

.page5 {
  .title {
    position: absolute;
    top: PX(170);
    left: 50%;
    margin-left: PX(-87);
    width: PX(174);
    height: PX(45);
    @include bg('../images/page5_title.png');
  }
  .content {
    box-sizing: border-box;
    position: absolute;
    top: PX(280);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    padding: 0 PX(80);
    .line {
      position: absolute;
      top: PX(4);
      left: PX(170);
      width: PX(17);
      height: PX(873);
      @include bg('../images/page5_line.png');
    }
    .text1 {
      width: PX(281);
      height: PX(27);
      @include bg('../images/page5_text1_new.png');
    }
    .text2 {
      width: PX(493);
      height: PX(115);
      margin-top: PX(66);
      @include bg('../images/page5_text2_new.png');
    }
    .text3 {
      width: PX(647);
      height: PX(111);
      margin-top: PX(36);
      @include bg('../images/page5_text3_new.png');
    }
    .text4 {
      width: PX(594);
      height: PX(94);
      margin-top: PX(34);
      @include bg('../images/page5_text4_new.png');
    }
    .text5 {
      width: PX(529);
      height: PX(98);
      margin-top: PX(20);
      @include bg('../images/page5_text5_new.png');
    }
    .text6 {
      width: PX(538);
      height: PX(106);
      margin-top: PX(32);
      @include bg('../images/page5_text6_new.png');
    }
    .text7 {
      width: PX(218);
      height: PX(27);
      margin-top: PX(42);
      @include bg('../images/page5_text7_new.png');
    }
    .text8{
      width: PX(308);
      height: PX(27);
      margin-top: PX(48);
      @include bg('../images/page5_text8_new.png');
    }
  }
}

.page6 {
  .title {
    position: absolute;
    top: PX(180);
    left: 50%;
    margin-left: PX(-96);
    width: PX(192);
    height: PX(36);
    @include bg('../images/page6_title.png');
  }
  .compass {
    position: absolute;
    top: PX(180);
    left: PX(641);
    width: PX(47);
    height: PX(49);
    @include bg('../images/page6_compass.png');
  }
  .map {
    position: absolute;
    top: PX(300);
    left: 50%;
    margin-left: PX(-290);
    width: PX(581);
    height: PX(531);
    @include bg('../images/page6_map.png');
  }
  .tips {
    position: absolute;
    top: PX(860);
    left: 50%;
    margin-left: PX(-201);
    width: PX(403);
    height: PX(243);
    @include bg('../images/page6_text.png');
  }
}

.page7 {
  .stage1 {
    .title {
      position: absolute;
      top: PX(200);
      left: 50%;
      margin-left: PX(-88);
      width: PX(177);
      height: PX(46);
      @include bg('../images/page7_stage1_title.png');
    }
    .content {
      box-sizing: border-box;
      position: absolute;
      top: PX(260);
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 100%;
      padding: 0 PX(120);
      p {
        margin: PX(15) 0;
        input {
          padding: PX(20) PX(40);
          height: PX(86);
          width: PX(540);
          border: none;
          border-radius: PX(30);
          font-size: PX(30);
          color: #333;
        }
      }
      .text {
        margin-top: PX(50);
        font-size: PX(26);
        color: #fff;
        img {
          width: PX(509);
          height: PX(69);
        }
      }
      .updateImg {
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        margin-left: PX(-175);
        width: PX(350);
        height: PX(79);
        margin-top: PX(60);
        text-align: center;
        padding: PX(10);
        font-size: 0;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: PX(350);
          height: PX(79);
          pointer-events: none;
        }
        input {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .stage2 {
    .title {
      position: absolute;
      top: PX(180);
      left: 50%;
      margin-left: PX(-180);
      width: PX(361);
      height: PX(91);
      @include bg('../images/page7_stage2_title.png');
    }
    .content {
      box-sizing: border-box;
      position: absolute;
      top: PX(300);
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 100%;
      padding: 0 PX(50) 0 PX(80);
      color: #fff;
      font-size: PX(36);
      p {
        margin: PX(30) 0;
        word-break:break-all;
        line-height: PX(50);
        .left {
          vertical-align: top;
          display: inline-block;
          width: PX(200);
        }
        .right {
          vertical-align: top;
          width: PX(400);
          display: inline-block;
        }
      }
      .businessCard {
        text-align: center;
        img {
          margin-left: PX(-35);
          height: PX(200);
        }
      }
      .submit {
        margin: PX(60) 0 0 PX(120);
        width: PX(350);
        height: PX(78);
        @include bg('../images/page7_submit.png')
      }
    }
    .return {
      position: absolute;
      right: PX(50);
      top: PX(70);
      z-index: 100;
      width: PX(146);
      height: PX(38);
      @include bg('../images/page7_return.png')
    }
  }
  .stage3 {
    .success {
      position: absolute;
      left: 50%;
      margin-left: PX(-149);
      top: PX(300);
      width: PX(259);
      height: PX(291);
      @include bg('../images/page7_stage3_success.png')
    }
    .text {
      position: absolute;
      left: 50%;
      margin-left: PX(-278);
      top: PX(850);
      width: PX(556);
      height: PX(70);
      @include bg('../images/page7_stage3_text_new.png')
    }
    .return {
      position: absolute;
      left: 50%;
      margin-left: PX(-175);
      top: PX(1000);
      width: PX(350);
      height: PX(78);
      @include bg('../images/page7_stage3_return.png')
    }
  }
}